# generated yaml for a new installer
/ingen_package_updates.yml
# generated changelog for a new installer
/ingen_package_changelog.txt
# local conda installation in the root dir
/conda
# conda installer
Miniconda3-*-Linux-x86_64.sh
# temporary location to place all the installer files before generating the installer
/symbiflow_installer
# temporary location to test the installer in the root dir
/symbiflow_install_dir
# generated dailybuild installer in the roor dir
/symbiflow_dailybuild_*.gz.run
# local gh-cli installer/installation
gh_*_linux_amd64*